<h1><%= @language.name %></h1>
<div class="row">
  <aside class="span3">
  	<section>
      <h2>Top 10 newest word</h2>
  	  <%= render '/shared/highlight'%>	
  	</section>
  </aside>
  <aside class="span9">
  	<section> 		
      <%= render :partial => '/shared/word_search' %>
  	</section> 
  	<section><%= link_to 'New Word', new_user_language_dictionary_path(@user, @language) %></section>  
  	<section>
      <%= render '/shared/random_word' %>
    </section>

  </aside>
</div>
